@model FestDetailVM



<div class="modal-header">

    @if (Model.IsActive)
    {
        <h6 style="color:green">Aktif Kayıt</h6>
    }
    else
    {
        <h6 style="color:red">Kayıt Aktif Değil</h6>
    }

    <hr />





    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>



</div>
<div class="modal-body">

    <h6>
        Festivalin Oluşturulma Tarihi : @Model.CreatedDate
    </h6>

    <br />

    <h6>Festival : @Model.FestName</h6>

    <br />

    

    <h6>Ülke - Festival : @Model.CountryName</h6>

    <br />

    <h6>Şehir - Festival : @Model.CityName</h6>

    <br />

    <h6>Festival Başlangıç Tarihi : @Model.StartDate.ToShortDateString()</h6>

    <br />

    <h6>Festival Süresi : @Model.FestDuration</h6>

    <br />

    <h6>Festivalin Başlamasına @Model.Time gün var</h6>

    <br />

    <h6>Bilet Fiyatı : @Model.TicketPrice</h6>

    <br />








    <hr />

    <h6>Festival Lokasyonu : @Model.Location</h6>

    <br />

    <p>
        <b class="text-secondary">Açıklaması : @Model.Description</b>
    </p>

</div>


