@model PagedList<ArtistListVM>




<div class="container">


    <div class="row">

        <div class="col-sm-11">

            <div class="text-center">

                <h2 style="font-family:'Italic Outline Art';" class="text-secondary">Sanatçılar</h2>
            </div>


            <div style="padding-top:50px">


                <div style="padding-bottom:15px">


                    <div class="float-start">
                        <form>
                            <div class="btn-group">
                                <input class="form-control" type="text" placeholder="Arama Yap ...." name="search" style="display: inline-block; width: 80%;" />
                                <input class="p-2 ml-3 btn btn-sm btn-primary" type="submit" value="Ara" style="display: inline-block; width: 20%;" />
                            </div>
                        </form>

                    </div>

                </div>


                <div class="float-end">
                    <a asp-area="Admin" asp-controller="Artist" asp-action="New" class="btn btn-link">

                        <i class="bi bi-plus-circle-fill">
                            Yeni Sanatçı
                        </i>

                    </a>
                </div>


                <table id="myTable" class="table table-bordered table-striped">

                    <thead>

                        <tr>

                            <th>#</th>
                            <th></th>
                            <th>Ad Soyad</th>
                            <th>Doğum Yılı</th>
                            <th>Açıklama</th>
                            <th></th>
                        </tr>

                    </thead>

                    <tbody>

                        @if (Model != null)
                        {
                            @for (int i = 0; i < Model.Count; i++)
                            {

                                <tr class="table">

                                    <td>@(i + 1)</td>

                                    <td>

                                        @if (string.IsNullOrWhiteSpace(Model[i].ImagePath))
                                        {
                                            <img style="width:100px;height:100px" src="~/images/depositphotos_318221368-stock-illustration-missing-picture-page-for-website.jpg" />
                                        }
                                        else
                                        {
                                            <a style="width:80px;height:80px" href="~/images/artists/@Model[i].ImagePath" data-lightbox="@Model[i].Id" data-title="@Model[i].NameAndLastName">

                                                <img src="~/images/artists/@Model[i].ImagePath" alt="@Model[i].NameAndLastName" style="width:100px;height:100px" />

                                            </a>
                                        }

                                    </td>



                                    <td>@Model[i].NameAndLastName</td>
                                    <td class="mt-4">@Model[i].BirthDate</td>


                                    <td> @if(Model[i].Description.Length > 10)
                                        {
                                            
                                            @Model[i].Description.Substring(0,9)
                                        }
                                        else
                                        {
                                            @Model[i].Description
                                        }
                                    </td>

                                    <td>


                                        <button style="margin-left:40px" class="btn btn-sm btn-info modalButton" data-id="@Model[i].Id" data-target="modal-lg">
                                            <i class="bi-search">Detay</i>



                                        </button>

                                        <a style="margin-left:3px" asp-area="Admin" asp-controller="Artist" asp-action="New" asp-route-id="@Model[i].Id" class="btn btn-sm btn-primary" alt="Güncelle">
                                            <i class="bi bi-pencil-fill">Güncelle</i>
                                        </a>

                                        <a style="margin-left:3px" data-id="@Model[i].Id" class="btn btn-sm btn-danger delete">
                                            <i class="bi bi-trash3">Sil</i>
                                        </a>


                                    </td>


                                </tr>

                            }
                        }
                        else
                        {
                            <tr class="container">
                                <td>Henüz Bir Kayıt Bulunamadı</td>
                            </tr>
                        }


                    </tbody>




                </table>

                <div style="margin-top:30px">

                    <div class="col-md-3
" style="margin-left:auto;text-align:right">

                        @Html.PagedListPager((IPagedList)Model,page=>Url.Action("List","Artist",new {page=page}),
                        new PagedListRenderOptions {

                        LiElementClasses=new List<string>
                        {"page-link"}
                        })




                    </div>

                </div>


                <p>
                    <span>Toplam : @ViewBag.Count Kayıt Bulundu.</span>
                </p>

            </div>


        </div>

    </div>



</div>




@section Scripts{


    <script>


        $(".modalButton").click(function () {
            // AJAX isteği yapın

            var artistId = $(this).data("id")

            $.ajax({
                url: "/Admin/Artist/Detail/" + artistId,
                type: "GET",
                success: function (result) {
                    // Detail sayfasındaki içeriği alın
                    $("#modalContent").html(result);
                    // Modalı açın
                    $("#modalContainer").modal("show");
                }
            });
        });


        $('#myTable .delete').click(function (e) {

            e.preventDefault();

            var ArtistId = $(this).data('id');

            Swal.fire({
                title: 'Emin misin?',
                text: "Dikkat ! Kayıt silinecektir.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Onaylıyorum.',
                cancelButtonText: "İptal"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Admin/Artist/Delete/' + ArtistId,
                        method: "GET"
                    }).done(function () {

                        Swal.fire(
                            'Silindi!',
                            'Bir Kayıt Başarıyla Silindi.',
                            'success'
                        ).then(() => { window.location.reload() }
                        );
                    }).fail(function () {

                        Swal.fire("Hata!", "Bir hata oluştu, Kayıt silinemedi.", "error")
                    });


                }
            })

        });


    </script>
}
